
*.qws
*.cdb
*.hdb
*.rdb
*.db_info
*.hier_info
*.hif
*.html
*.qmsg
*.tmw_info
*.done
*.rpt
*.summary
laboratorio_3/Battleship/simulation/modelsim/msim_transcript
laboratorio_3/Battleship/simulation/modelsim/rtl_work/_info
*.qtl
laboratorio_3/Battleship/simulation/modelsim/verilog_libs/altera_lnsim_ver/_info
*.qpg
*.wlf
*.db_info
*.qws
*.flock
